@import "bower_components/bootstrap/less/variables.less";

html {
    position: relative;
    min-height: 100%;
    min-width: 180px;
}

body {
    margin-bottom: 90px;
}

#footer {
    position: absolute;
    height: 90px;
    bottom: 0;
    width: 100%;
    background-color: @navbar-default-bg;
    padding-top: 15px;
    padding-bottom: 15px;

    #copyright {
        margin-top: 5px;
    }
    @media (max-width: 300px) {
        #rightsreserved {
            display: none;
        }
    }

    // The focus state of bootstrap buttons looks identical to the hover state
    // This is confusing from a UX standpoint, so I am going to prevent any colour change
    // The dotted focus outline should be enough
    .btn-default:focus, .btn-default.focus {
        background-color: @btn-default-bg;
    }
    // We must also override the hover colour, otherwise a button with focus and hover
    // would still be styled by the rule above
    .btn-default:hover {
        background-color: darken(@btn-default-bg, 10%);
    }
}
