// ============================ header.less =========================== //
// Styling rules for the header.
// ==================================================================== //

@import "bower_components/bootstrap/less/variables.less";

#header {
    @media (max-width: @screen-xs-max) {
        /* Center the brand */
        .navbar-header {
            text-align: center;
            margin-top: 10px;

            .navbar-brand {
                float: none;
            }
        }

        /* Center the navigation links */
        .navigationlinks ul {
            display: flex;
            justify-content: space-between;
        }
    }
}
