@media (max-width: 767px) {
    /* Center the brand */
    #header .navbar-header {
        text-align: center;
        margin-top: 10px;
    }
    #header .navbar-header .navbar-brand {
        float: none;
    }

    /* Center the navigation links */
    #header .headernav ul {
        display: flex;
        justify-content: space-between;
    }
}
