# HTTP
server {
    server_name brn.by;
    include {{top}}/http-common.nginx;
}

# HTTPS
server {
    server_name brn.by;
    include {{top}}/https-common.nginx;

    location / {
        return 301 https://barnabycolby.io;
    }

    location /demo {
        return 301 https://sqrldemo.barnabycolby.io;
    }
}
