# HTTP
server {
    server_name phantomjs.barnabycolby.io;
    include {{top}}/http-common.nginx;
}

# HTTPS
server {
    server_name phantomjs.barnabycolby.io;
    include {{top}}/https-common.nginx;

    location / {
        include /etc/nginx/mime.types;

        root /data/dist/phantomjs;

        autoindex on;
    }
}
