// ============================== common.less ========================= //
// CSS rules that are common to all site web-pages.
// ==================================================================== //

@light-blue: #33aff6;
@accent: @light-blue;

// Override bootstrap bottom margin on alerts
#noscriptalert
{
    margin-bottom: 0;
}
