// =========================== index.less ============================= //
// Includes rules to be applied only to the index page.
// ==================================================================== //

@import 'common.less';

body > .container
{
    padding-top: 10%;
    padding-bottom: 10%;

    text-align: center;

    h1
    {
        font-size: 80px;
    }

    // The navigation is styled as a horizontal menu
    .navigation
    {
        // Top margin ensures blurb is evenly spaced between the title and the navigation links
        margin-top: 20px;
        padding-left: 0;

        list-style-type: none;

        > li
        {
            font-size: 20px;

            display: inline-block;

            padding: 0 10px;
        }

        > li:hover
        {
            text-decoration: underline;
        }
    }
}
