// =========================== index.less ============================= //
// Includes rules to be applied only to the index page.
// ==================================================================== //

@import 'common.less';

body > .container
{
    text-align: center;
    // The top of the container is padded so that the title and blurb look more vertically centered
    // On landscape phones, the padding pushes the content off the bottom of the screen
    @media (min-height: 380px)
    {
        padding-top: 10%;
    }

    h1
    {
        font-size: 80px;
    }

    // The font-size used on tablets/computers is too large for phones
    @media (max-width: @screen-xs-max)
    {
        h1
        {
            font-size: 50px;
        }
    }

    // The navigation is styled as a horizontal menu
    #navigation
    {
        // Top margin ensures blurb is evenly spaced between the title and the navigation links
        margin-top: 20px;
        padding-left: 0;

        list-style-type: none;

        > li
        {
            font-size: 20px;

            display: inline-block;

            padding: 0 10px;
        }

        > li:hover
        {
            text-decoration: underline;
        }
    }
}
