// ========================== projects.less =========================== //
// Includes rules to be applied only to the projects page.
// ==================================================================== //

.project
{
    h3
    {
        // Causes the link icon to be on the same line as the project title
        display: inline-block;
    }
}

#current,
.project
{
    > a > i
    {
        // Adds some space between the link icon and the project title
        margin-left: 8px;
    }
}

#githubIntegrations
{
    // Initially, the github integrations should be hidden (as they are not loaded). Only the spinner should be visible.
    display: none;

    #authorLogin,
    #lastCommitMessage
    {
        // We want the authorLogin and lastCommitMessage to be on the same line
        display: inline;
    }

    // Mimic the GitHub style
    #authorLogin
    {
        font-weight: bold;

        padding-right: 10px;
    }

    #avatar
    {
        // Width and height required for the default image
        width: 30px;
        height: 30px;
        margin-right: 5px;

        border-radius: 5px;
    }

    #lastCommitGroup > *
    {
        vertical-align: middle;
    }
}

#githubSpinner
{
    // We want the spinner to be displayed on a separate line
    display: block;
}

#current > a
{
    // We require an extra margin between the GitHub content and the button
    margin-top: 15px;
}

.timeframe
{
    text-align: center;
}
