<!-- ==================== boilerplate.html =========================== -->
<!-- This file should be used as a starting point for new html web-    -->
<!-- pages, it contains code common to all html pages. Any instance of -->
<!-- ### should be replaced once the new page has been created.        -->
<!-- ================================================================= -->

<!DOCTYPE html>
<html ng-app="###">
	<head>
        {% include "src/www/includes/commonheadtags.tmpl.html" %}
		<title>### | Barnaby Colby</title>
	</head>

	<body>
        {% include "src/www/includes/noscript.tmpl.html" %}
        {% import "src/www/snippets/header.tmpl.html" as header %}
        {{ header.output(navigationLinks, 'Home' }}

        <div class="container">
            ###
        </div>

        <footer></footer>
	</body>
</html>
