<!-- ==================== boilerplate.html =========================== -->
<!-- This file should be used as a starting point for new html web-    -->
<!-- pages, it contains code common to all html pages. Any instance of -->
<!-- ### should be replaced once the new page has been created.        -->
<!-- ================================================================= -->

<!-- The name of the angular app -->
{% set angularApp = '###' %}

<!-- The name of the page, included in the title and the navigation links -->
{% set pageName = '###' %}

{% extends "src/www/includes/layout.tmpl.html %}

<!-- All page-specific content should be placed here -->
{% block content %}
###
{% endblock %}
