<!-- ============================ index.html ========================= -->
<!-- The homepage for the website.                                     -->
<!-- ================================================================= -->

<!DOCTYPE html>
 <html lang="en-GB">
    <head>
        {% include "src/www/includes/commonheadtags.nunjucks" %}

        <!-- build:css {% raw %}{{ assetPaths["/css/index.min.css"] }}{% endraw %} -->
        <link rel="stylesheet" href="/css/index.css"/>
        <!-- /build -->

        <title>Home | Barnaby Colby</title>
	</head>

	<body>
        {% include "src/www/includes/noscript.nunjucks" %}

        <div class="container">
            <h1>Barnaby Colby</h1>
            <!-- The safe filter disables auto-escaping, allowing raw HTML to be used in the blurb -->
            <h3>{{ blurb | safe }}</h3>
            <ul id="navigation" class="text-muted">
                {% for link in navigationLinks %}
                <li>
                    <a href="{{ link.href }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% include "src/www/includes/footer.nunjucks" %}
	</body>
</html>
