<!-- ============================ index.html ========================= -->
<!-- The homepage for the website.                                     -->
<!-- ================================================================= -->

<!DOCTYPE html>
 <html lang="en-GB">
    <head>
        {% include "src/www/includes/commonheadtags.nunjucks" %}

        <!-- build:css /css/index.min.css -->
        <link rel="stylesheet" href="/css/index.css"/>
        <!-- /build -->

        <title>Home | Barnaby Colby</title>
	</head>

	<body>
        {% include "src/www/includes/noscript.nunjucks" %}

        <div class="container">
            <h1>Barnaby Colby</h1>
            <h3>I like programming. Check out my <a href="/projects.html">projects</a> on <a href="https://github.com/barnabycolby">GitHub</a>.</h3>
            <ul class="text-muted navigation">
                {% for link in navigationLinks %}
                <li>
                    <a href="{{ link.href }}">{{ link.text }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        {% include "src/www/includes/footer.nunjucks" %}
	</body>
</html>
