<!-- ========================== projects.html ======================== -->
<!-- Lists past, current and future personal projects.                 -->
<!-- ================================================================= -->

{% set pageName = 'Projects' %}
{% set customStylesheet = 'projects' %}
{% extends "src/www/includes/layout.nunjucks" %}

{% block content %}
    <div class="row">
        <blockquote id="introduction">{{ projects.introduction }}</blockquote>
    </div>
    {% include "src/www/includes/projects.nunjucks" %}
{% endblock %}
